################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs
/HoloCOVIDUnity/.vs/HoloCOVIDUnity/v15
/HoloCOVIDUnity/Library
/HoloCOVIDUnity/Logs
/HoloCOVIDUnity/obj/Debug
/HoloCOVIDUnity/Temp
/HoloCOVIDUnity/*.sln
/HoloCOVIDUnity/*.csproj
/CovidDataProcessor/CovidDataProcessor/bin
/CovidDataProcessor/CovidDataProcessor/obj
/CovidDataProcessor/CovidDataProcessor/GoogleMapsKey.txt
