################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HoloCOVIDUnity/.vs/HoloCOVIDUnity/v15
/HoloCOVIDUnity/Library
/HoloCOVIDUnity/Logs
/HoloCOVIDUnity/obj/Debug
/HoloCOVIDUnity/Temp
*.sln
*.csproj
/HoloCOVIDUnity/Packages
